*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #000 url(imagens/bg.jpg);
    background-attachment: fixed;
    background-blend-mode: hard-light;
}
.conteiner
{
    position: absolute;
    top: 80px;
    right: 100px;
    bottom: 80px;
    left: 100px;
    background: url(imagens/bg.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5),
                0 0 0 100px rgba(0,0,0,0.1)
}
.conteiner h2
{
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #333;
    margin-top: -80px;
}
.conteiner h2 span
{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}
.contagem 
{
    display: flex;
    margin-top: 50px;
}
.contagem div
{
    position: relative;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}
.contagem div::before
{
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 35px;
    width: 100%;
    background: #ff0;
    color: #333;
    font-size: 0.35em;
    font-weight: 300;
    line-height: 35px;
}
.contagem #dia::before
{
    content: 'Dias';
}
.contagem #hora::before
{
    content: 'Horas';
}
.contagem #minuto::before
{
    content: 'minutos';
}
.contagem #segundo::before
{
    content: 'Segundos';
}